@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  background-color: #171717;
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-victor);
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #737373;
  border: none;
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: #555eff;
  border-radius: 2px;
}